{block content}

<div class="col-md-8 col-md-offset-2">
	<div class="">
		<h3 class="box-title">Upravit uživatele</h3>
	</div>
	<div class="col-md-12">
		{control formUser}
	</div>
        <button type="button" class="btn btn-lg btn-danger form-control" onclick="window.history.back();">Zpět</button>
</div>