<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>IROPE </h2>
                <p>Morbi non mauris massa. Duis elit mauris, malesuada nec suscipit ac, bibendum sed augue. Maecenas condimentum magna gravida, laoreet nunc sed, euismod sem. </p>
                <a href=" {plink :Admin:Homepage:default}">Administrace</a>
            </div>
            <div class="col-md-6">
                <div class="row icon-features">
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-map-marker"></i>
                        <p>Adresa </p>
                        <p>{$footer->ulice} , {$footer->mesto} {$footer->psc}</p>
                    </div>
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-earphone"></i>
                        <p>Kontakt </p>
                        <p>{$footer->tel}</p>
                    </div>
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-envelope"></i>
                        <p>Email </p>
                        <p>{$footer->email}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>